
:host {
  --glass-bg: rgba(110, 97, 118, 0.9);
  --glass-border: rgba(255, 255, 255, 0.3);
  --text-color: #ffffff;
  --gold-text: #ffd700;
  --softtek: linear-gradient(90deg,  #003d82 0%, #0056b3 25%, #7ed321 50%, #9ee83f 100%);
  --azul-sftk: linear-gradient( 90deg, #004080 0%, #0056b3 40%, #0073e6 80%, #004080 100% );
  --dark: linear-gradient( 135deg,  #0f0f0f 0%, #2d2d2d 25%, #4a4a4a 50%, #2d2d2d 75%, #0f0f0f 100% ); 
  --initial-fifa:   linear-gradient(135deg,  #ffffff 0%,  #e6e6e6 15%,  #cccccc 30%,  #febe10 45%,   #cccccc 55%,  #e6e6e6 70%,  #ffffff 85%,  #febe10 92%,  #ffffff 100%);
}

.golden-border {
  position: absolute;
  inset: -3px; 
  z-index: 1; 
  background: var(--initial-fifa);
  background-size: 200% 200%;
  animation: gold-flow 4s ease-in-out infinite alternate;
  clip-path: polygon(8% 0%, 92% 0%, 100% 8%, 100% 85%, 92% 92%, 85% 95%, 65% 98%, 50% 100%, 35% 98%, 15% 95%, 8% 92%, 0% 85%, 0% 8%); // propiedad forma, agregar el 
  transition: all 0.6s ease;
}

.card-front .card-inner {
  position: relative;
  z-index: 10 !important;
  padding: 1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color) !important;
}

@keyframes gold-flow {
  0% {
    background-position: 0% 50%;
    filter: brightness(1);
  }
  100% {
    background-position: 100% 50%;
    filter: brightness(1.1);
  }
}



