<!-- professional-card.html -->
<div class="card-container">
  <div class="card" [class.flipped]="flipped" (click)="toggleFlip()">
    <div class="card-inner-flip">

      <!-- FRONT -->
      <div class="card-front">
        <div class="golden-border"></div>
        <div class="card-inner">
          <div class="card-header">
            <div class="card-level">{{ profile.rating }}</div>
            <div class="card-position">{{ profile.role }}</div>
          </div>
          <div class="card-name">
            <div class="card-player-name">{{ profile.name }}</div>
            <div class="card-experience">{{ profile.certifications }}</div>
          </div>
        </div>
      </div>

      <!-- BACK -->
      <div class="card-back">
        <div class="card-inner">
          <h3>SKILLS</h3>
          <pre>{{ profile.skills }}</pre>
          <h3>IDIOMAS</h3>
          <pre>{{ profile.languages }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>