$purple: #5DA526 0%;
$blue:   #00325D 50%;
$green: #ffffff 100%;

.stadium-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    $purple,
    $blue,
    $green,
    $purple
  );
  background-size: 400% 400%;
  animation: rainbowFlow 50s infinite linear;
  position: relative;
  overflow: hidden;
}

@keyframes rainbowFlow {
  0%   { background-position: 0% 50%; }
  25%  { background-position: 50% 0%; }
  50%  { background-position: 100% 50%; }
  75%  { background-position: 50% 100%; }
  100% { background-position: 0% 50%; }
}


.logo-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.logo-image {
  width: clamp(120px, 15vw, 300px);
  width: min(15vw, 250px);
  height: auto;
  max-width: 80% ;
  
}



@media (max-width: 480px) {
  .logo-image {
    max-width: 120px; /* Móviles pequeños */
  }
  
  .logo-container {
    top: 10px;
    right: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .logo-image {
    max-width: 150px; /* Tablets */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .logo-image {
    max-width: 200px; /* Desktop pequeño */
  }
}

@media (min-width: 1025px) {
  .logo-image {
    max-width: 250px; /* Desktop grande */
  }
}