<div class="fifa-container">
  
  <div class="field-layer">
    <app-stadium></app-stadium>
  </div>
  <div class="players-layer">
    @for (profile of topProfessionals(); let i = $index; track profile.IS) {
      <app-professional-card
        [profile]="profile"
        class="player-card"
        [ngStyle]="{
          left: formation[i]?.x + '%',
          top: formation[i]?.y + '%',
          transform: 'translate(-50%, -50%)'
          
        }"
       (showDetails)="openProfileModal($event)"
      >
      </app-professional-card>
    }
  </div>
  
  @if (selectedProfile()) {
  <app-modal-details 
      [profile]="selectedProfile()" 
      (closeModal)="selectedProfile.set(null)">
  </app-modal-details>
}
</div>