
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    )
  ));
}

body, html {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
}


body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

.fifa-container .player-card {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
  transition: transform 0.2s ease;
}

.player-card  {
  width: 8vw;
  height: auto;
  font-size: 0.4rem;
  transition: all 0.3s ease;
  clip-path: polygon(8% 0%, 92% 0%, 100% 8%, 100% 85%, 92% 92%, 85% 95%, 65% 98%, 50% 100%, 35% 98%, 15% 95%, 8% 92%, 0% 85%, 0% 8%);
}



@media (max-width: 1200px) {
  .card-front {
    width: 7vw;
  }
}

@media (max-width: 768px) {
  .card-front {
    width: 14vw;
  }
}

@media (max-width: 480px) {
  .card-front {
    width: 20vw;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


